<header>
  <div class="header-left">
    <h1>Cadence</h1>
  </div>
  
  <div class="header-right">
    <!-- Notification Bell Dropdown -->
    <div class="dropdown" data-controller="notifications">
      <button class="btn btn-link" type="button" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <% unread_count = current_user.notifications.unread.count %>
        <% if unread_count > 0 %>
          <i class="fa-solid fa-bell fa-lg"></i>  <!-- Filled bell -->
        <% else %>
          <i class="fa-regular fa-bell fa-lg"></i>  <!-- Outlined bell -->
        <% end %>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
        <li><h6 class="dropdown-header">Recent Notifications</h6></li>
        <li id="notification-content" data-notifications-target="content">
          <!-- Notifications load here -->
        </li>
      </ul>
    </div>
    
    <!-- User Name -->
    <span class="me-3">Hello, <%= current_user.first_name %> <%= current_user.last_name %></span>
    
    <!-- Logout Button -->
    <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-sm btn-outline-secondary" %>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="form-container">
        <h4>New Project</h4>
        <%= render 'projects/form', project: @project || Project.new %>
      </div>
    </div>

    <div class="col-12 col-lg-9">
      <div class="row">
        <% @projects.each do |project| %>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="project">
              <h3><%= project.title %></h3>
              <p><strong>Client:</strong> <%= project.client %></p>
              <p><strong>Type:</strong> <%= project.project_type %></p>
              <p><strong>Start:</strong> <%= project.start_date %></p>
              <p><strong>Est. End:</strong> <%= project.estimated_end_date %></p>
              
              <div class="project-actions">
                <%= link_to "Edit", edit_project_path(project) %>
                <%= link_to "Add Task", new_project_task_path(project) %>
              </div>

              <div class="tasks-container">
                <% if project.tasks.any? %>
                  <% project.tasks.each do |task| %>
                    <div class="task">
                      <strong><%= task.title %></strong>
                      <p><%= task.description %></p>
                      <p><strong>Due:</strong> <%= task.due_date %> | <strong>Status:</strong> <%= task.status %></p>
                      
                      <div class="task-actions">
                        <%= link_to "Edit", edit_project_task_path(project, task) %>
                        <%= link_to "Delete", project_task_path(project, task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <p style="color: #999; font-size: 0.9rem;">No tasks yet</p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>